
[v-cloak]{
    display: none
}
body{
    margin:0;
    background: #000;
}
#web{
    width: 900px;
    height:auto;
    margin: auto;
}
header{
    width: 900px;
    height:80px;
    background-image: linear-gradient(to bottom right, rgba(1,37,46,0.8), rgba(50, 146, 146, 0.8));
    margin: auto;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;


}
.personal{
    width: 40%;
    height:80px;
    color:#fff;
    line-height:80px;
    font-size:36px;
    margin-left:20px;

}
.menu{
    width: calc(100% - 40%);
    height:40px;
    margin-top:40px;
    text-align: right;
}
.menuChild{
    color:#fff;
    margin-right: 30px;
}
a {
    text-decoration: none;
}

.router-link-active {
    color:#4a9e7c;
    text-decoration: none;
}
/* 中间开始 */
section{
    width: 900px;
    height:auto;
    margin:80px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.left{
    width: 295px;
    height:auto;
     background-color: rgba(166,166,166,0.3);
     margin-right: 5px;
     display: flex;
     flex-direction: column;
}
.imgTH{
    width: 50%;
    height:auto;
    margin:50px 25% 0;
}
.name{
    width: 100%;
    height:auto;
    text-align: center;
    font-size: 28px;
    color:#fff;
    margin-top: 25px;
}
.love{
    width: calc(100% - 25px);
    height:auto;
    text-align: center;
    font-size: 28px;
    color:#fff;
    margin: 25px 0 ;
}
.myData{
    width: 100%;
    height: auto;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.myData span{
    width: auto;
    margin-right: 30px;
   line-height: 30px;
}
.right{
    width: 600px;
    height:auto;
     background-color: rgba(166,166,166,0.3);
}

/* 中间结束 */



footer{
    width: 900px;
    height:80px;
    background-image: linear-gradient(to bottom right, rgba(1,37,46,0.8), rgba(50, 146, 146, 0.8));
    margin: auto;
}



