
[v-cloak]{
    display: none
}
body{
    margin:0;
    background: #000;
}
#web{
    width: 900px;
    height:auto;
    margin: auto;
    position: relative;
}
header{
    width: 900px;
    height:80px;
    background-image: linear-gradient(to bottom right, rgba(1,37,46,0.8), rgba(50, 146, 146, 0.8));
    margin: auto;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;


}
.personal{
    width: 40%;
    height:80px;
    color:#fff;
    line-height:80px;
    font-size:36px;
    margin-left:20px;

}
.menu{
    width: calc(100% - 40%);
    height:40px;
    margin-top:40px;
    text-align: right;
}
.menu span:first-child{
    color:#4a9e7c
}
.menu span:last-child{
    color:#fff
}
.white-space{
    white-space: pre-wrap;
}
.toast{
    width:100%;
    height: 100%;
    background-color: rgba(153,153,153,0.8);
    position: absolute;
    top:0px;
    /*left:250px;*/
    z-index: 999;
}
.toast_content{
    width: 400px;
    height:300px;
    background-color: #fff;
    margin: 200px auto 0;
    display: flex;
    flex-direction: column;
}
.toast_content form{
    width: auto;
    height: auto;
    margin:0 auto 0;
}
.toast_content form div{
    color:#666666;
    margin:30px auto 0;
}
.toast_content form div input{
    width: 300px;
    height: 35px;
    border:1px solid #c6c6c6;
    border-radius: 3px;
}
.toast_content form div button{
    width: 70px;
    height: 25px;
    border:none;
    border-radius: 3px;
    color:#fff;
}
.toast_content form div button:first-child{
    background-color: #3a8ee6;
    margin-left: 40px;
}
.toast_content form div button:last-child{
    margin-left: 20px;
}
.menuChild{
    color:#fff;
    margin-right: 30px;
}
a {
    text-decoration: none;
}

.router-link-active {
    color:#4a9e7c;
    text-decoration: none;
}
/* 中间开始 */
section{
    width: 900px;
    height:auto;
    margin:80px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.left{
    position:fixed;
    top:80px;
}
.imgTH{
    width: 50%;
    height:auto;
    margin:50px 25% 0;
}
.name{
    width: 100%;
    height:auto;
    text-align: center;
    font-size: 28px;
    color:#fff;
    margin-top: 25px;
}
.love{
    width: calc(100% - 25px);
    height:auto;
    text-align: center;
    font-size: 28px;
    color:#fff;
    margin: 25px 0 ;
}
.myData{
    width: 100%;
    height: auto;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.myData span{
    width: auto;
    margin-right: 30px;
   line-height: 30px;
}
.right{
    margin-left: 300px;
}


/* 中间结束 */



footer{
    width: 900px;
    height:80px;
    background-image: linear-gradient(to bottom right, rgba(1,37,46,0.8), rgba(50, 146, 146, 0.8));
    margin: auto;
}



