.index{
    width: 100%;
    height:auto;
}
h3{
    color:#4a9e7c;
    margin-left: 30px;
}
.color{
    color:#4a9e7c !important;
    font-weight: bold;
    margin-bottom: 10px;
}
.content{
    width: calc(100% - 60px);
    height:auto;
    color:#fff;
    margin-left: 30px;
    line-height: 26px;
    white-space: pre-wrap;
    margin-bottom: 10px;
}
